
.cart .remove-btn{
    border: none;
    background-color: #fff;
    width: 100%;
    color:#008B8B;
    text-decoration: none;
    font-size:15px;
}
/*Account*/
#account-form{
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding:20px;
}
#account-form input{
    margin: 5px auto;
}
#account-form #change-pass-btn{
    color: #fff;
    background-color: #008B8B;

}
.account-info #orders-btn, #logout-btn{
    color: #008B8B;
    text-decoration: none;
}
/*Orders*/
.orders table{
    width: 100%;
    border-collapse: collapse;
}
.orders .product-ifo{
    display: flex;
    flex-wrap: wrap;

}
.orders th{
    padding: 5px 10px;
    color: #fff;
    background-color: #008B8B;
    /*text-align: left;*/
}
/*.orders th:nth-child(2){
    text-align: right;
}*/
.orders td{
    padding: 10px 20px;

}
.orders td img{
    width: 100px;
    height: 100px;
    margin-right: 10px ;
}
.orders .order-details-btn{
    color: #fff;
    background-color: #008B8B;

}
/*Checkout*/
#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 10px auto;

}
#checkout-form .checkout-large-element{
    width: 96%;}
#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}
#checkout-form #checkout-btn{
    color: #fff;
    background-color: #008B8B;
}
/*Contact Us*/
#contact span{
    color: #008B8B;
}
/*button in shop page*/
.product .buy-btn{
    background-color: #008B8B;
    transform: translateY(50px);
    opacity: 0;
    transform: 0.3s all;
    color: #fff;
}



