@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Dancing+Script&family=Poppins:wght@100;300&display=swap');

.nav-buttons{
    margin-left: 40%;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: black;

}
h2{
    font-size: 1.8rem;
    font-weight: 600;

}
h3{
    font-size: 1.5rem;
    font-weight: 800;

}
h4{
    font-size: 1.2rem;
    font-weight: 600;

}
h5{
    font-size: 1rem;
    font-weight: 400;

}
h6{
    color: black;
}
button{
    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;

}
button:hover{
    background-color: #008B8B;
}

.navbar{
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.4s ease;
}
.navbar-light .navbar-nav .nav-link:hover , 
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active
{
    color: #008B8B;

}
#icn {
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    font-weight: 500;
    cursor: pointer;
    margin-left: 10px;
}

@media only screen and (max-width:990px){
    .nav-buttons{
        margin: 10px;
   }
    .nav-buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .nav-buttons ul .fas{
        margin: 20px 5px 10px 20px;


    }

}

#home{
    background-image: url('assets/imgs/bg2.jpeg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x:100px;
    background-position-y:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#home span{
    color: #008B8B;
}

#new .one img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#new .one{
    position: relative;  
}
#new .one .details{
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.4;
    background-color: rgb(1,1,1);
    width: 100%;
    height: 100%;
}

#new .one .details:hover{
    background-color: cornsilk ;
}


#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

/*Product Section*/
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}
.product img{
    transition: 0.3s all;
}
.product:hover img{
    opacity: 0.7;
}
.product .buy-btn{
    background-color: #008B8B;
    transform: translateY(50px);
    opacity: 0;
    transform: 0.3s all;
    color: #fff;
}
.product:hover .buy-btn{
    transform: translateY(0px);
    opacity: 1;

}
hr{
    width: 30px;
    height: 3px !important;
    opacity: 1 !important;
    background-color: #008B8B;

}
.star{
    padding: 10px 0;
}
#str{
    font-size: 0.9rem;
    color: goldenrod;
}

#banner{
    background-image: url('assets/imgs/winter2.jpg');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position-x:center;
    background-position-y:30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner h1{
    color:#008B8B;
}
#banner h4{
    color: wheat;
}
#banner button{
    background-color:#008B8B ;
}
#banner button:hover{
    background-color: black;

}

footer{
    background-color: #222222 ;
}
footer h5{
    color: #D8D8D8;
    font-weight: 700;
    font-size: 1.2rem;
}
footer li{
    padding-bottom: 4px;

}
footer h6{
    color: #fff;

}
footer li a{
    font-size: 0.8rem;
    color: #999;
    text-decoration: none;
}
footer li a:hover{
    color: #D8D8D8;
}
footer .copyright a{
    color: #000;
    height: 40px;
    width: 40px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}
footer .copyright a:hover{
    color: #fff;
    background-color: #008B8B;
}
footer p{
    color: #fff;
}
footer .copyright img{
    width: 40%;
}
.logo{
    width: 90px;
    height: 60px;
}

.navbar .brand{
    color: rgb(0, 0, 0);
    margin: 3px -20px;
    font-size: 1.5rem;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{  /*Resizing images*/
    flex-basis: 25%;
    cursor: pointer;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left:10px ;
    font-size: 16px;
    margin-right: 10px;
}
.single-product input:focus{
    outline: none;
}
.single-product .buy-btn{
    background-color: #008B8B;
    opacity: 1;
    transition: 0.4s all;
}
.single-product .buy-btn:hover{
    background-color: #222222 ;
}


/* Cart */
.cart table{
    width: 100%;
    border-collapse: collapse;

}
.cart .product-info{
    display:flex;
    flex-wrap: wrap;
}
.cart th{
    text-align: left;
    padding: 5px 10px;
    color : #fff;
    background-color: #008B8B;
}
.cart td{
    padding: 10px 20px;
}
.cart td img{
    width: 100px;
    height:100px;
    margin-right: 10px;
}

.cart td input{
    width:40px;
    height: 30px;
    padding: 5px;
}
.cart td a{
    color: #008B8B;
}
.cart .remove-btn{
    border: none;
    background-color:#fff;
    width: 100%;
    color:#008B8B;
    text-decoration: none;
    font-size:15px;
}
.cart .edit-btn{
    color:#008B8B;
    text-decoration: none;
    font-size:15px;
    background-color: #fff;
    border: none;

}
.cart .product-info p{
    margin:3px;
}

.cart-total{
    display:flex;
    justify-content: flex-end;
}
.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #008B8B;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.checkout-container{
    display: flex;
    justify-content: flex-end;
}
.ckeckout-btn{
    display:flex;
    justify-content: flex-end ;
    background-color: #008B8B;
    color: #fff;
}
/*Login*/
#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #008B8B;
}
#login-form input{
    width: 50%;
    margin: 5px auto;

}
#login-form #login-btn{
    background-color: #008B8B;
    color: #fff;
}
#login-form #register-url{
    color: #008B8B;

}
/*Register*/
#register-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #008B8B;
}
#register-form input{
    width: 50%;
    margin: 5px auto;

}
#register-form #register-btn{
    background-color:#008B8B;
    color: #fff;
}
#register-form #login-url{
    color:#008B8B;

}
/*Account*/
#account-form{
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding:20px;
}
#account-form input{
    margin: 5px auto;
}
#account-form #change-pass-btn{
    color: #fff;
    background-color: #008B8B;

}
#account-form #orders-btn, #logout-btn{
    color: #008B8B;
    text-decoration: none;
}
/*Orders*/
.orders table{
    width: 100%;
    border-collapse: collapse;
}
.orders .product-ifo{
    display: flex;
    flex-wrap: wrap;

}
.orders th{
    text-align: left;
    padding: 5px 10px;
    color: #fff;
    background-color: #008B8B;
}
.orders td{
    padding: 10px 20px;

}
.orders td img{
    width: 100px;
    height: 100px;
    margin-right: 10px ;
}

/*Checkout*/
#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 10px auto;

}
#checkout-form .checkout-large-element{
    width: 96%;}
#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}
#checkout-form #checkout-btn{
    color: #fff;
    background-color: #008B8B;
}
/*Contact Us*/
#contact span{
    color: #008B8B;
}
